version: '3.7'

services:

  api:
    build:
      context: .
      dockerfile: ./docker/dev.Dockerfile
    volumes:
      - './api:/usr/src/app'
    networks:
      - 20191-ada_adanetwork
    ports:
      - 5015:5000
    environment:
      - DB_NAME=${DB_NAME}
      - DB_URL=${DB_URL}
      - GITHUB_OAUTH_CLIENT_ID=${GITHUB_OAUTH_CLIENT_ID}
      - GITHUB_OAUTH_CLIENT_SECRET=${GITHUB_OAUTH_CLIENT_SECRET}
      - ACCESS_TOKEN=${ACCESS_TOKEN}
      - BOT_NAME=${BOT_NAME}
      - GITHUB_API_TOKEN=${GITHUB_API_TOKEN}
      - FLASK_APP=github/__init__.py
      - FLASK_ENV=development
      - APP_SETTINGS=github.config.DevelopmentConfig
  mongo-github:
    image: mongo
    command: mongod --port 27009
    volumes:
      - /mongo_github:/data/db
    networks:
      - 20191-ada_adanetwork
    ports:
      - 27009:27009

networks:
  20191-ada_adanetwork:
    external: true
    driver: "bridge"
